[package]
name = "rend"
version = "0.5.0-pre5"
authors = ["David Koloski <djkoloski@gmail.com>"]
edition = "2021"
description = "Endian-aware primitives for Rust"
license = "MIT"
documentation = "https://docs.rs/rend"
repository = "https://github.com/djkoloski/rend"
keywords = ["endian", "no_std"]
categories = ["encoding", "no-std"]
readme = "crates-io.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytecheck = { version = "0.8.0-pre5", optional = true, default-features = false }

[features]
default = []
